@charset "utf-8";

/* ----- style ----- */
$text-color: #333;
$active-color: #e2e2e2;
$border: 1px solid $text-color;
$dashedBorder: 1px dashed $text-color;
$info-canvas-half-width: 130px;
$info-canvas-half-height: 102px;
@mixin box-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* ----- common ----- */
body {
  margin: 0;
  color: $text-color;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  all: unset;
}

legend {
  all: unset;
}

/* ----- header ----- */
header {
  width: 1120px;
  height: 96px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  h1 {
    font-family: 'Prompt', sans-serif;
    margin-left: 32px;
    font-size: 20px;
    letter-spacing: .2rem;
  }
}

/* ----- main common ----- */
main {
  width: 1120px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  #main-canvas {
    border: $border;
    border-radius: 16px;
  }
  .component-list {
    width: 724px;
    margin-left: 12px;
    position: relative;
    .component {
      position: absolute;
      width: 100%;
      pointer-events: none;
      h2.tab {
        width: 160px;
        height: 48px;
        border-top: $border;
        border-right: $border;
        border-radius: 0 8px 0 0;
        position: relative;
        font-size: 14px;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        pointer-events: auto;
        opacity: .3;
        &.active {
          opacity: 1;
          &::after {
            content: '';
            position: relative;
            top: -1px;
            width: 159px;
            height: 1px;
            display: block;
            background: white;
            z-index: 3;
          }
        }
      }
      &:nth-child(2) .tab {
        left: 160px;
      }
      &:nth-child(3) .tab {
        left: 320px;
      }
      /* ----- work space ----- */
      .workspace {
        width: 724px;
        height: 752px;
        padding: 16px;
        border-top: $border;
        font-size: 12px;
        pointer-events: auto;
        display: none;
        &.appear {
          display: block;
        }
        /* ----- label ----- */
        label {
          display: block;
        }
        /* ----- top part ----- */
        .workspace-top-container {
          display: flex;
          padding-bottom: 16px;
          border-bottom: $dashedBorder;
          /* ----- text label ----- */
          .text-labels-container {
            padding: 24px 32px;
            border-right: $dashedBorder;
            .text-label-container {
              display: flex;
              label {
                width: 120px;
              }
              span {
                margin-left: 8px;
              }
            }
            .text-label-container + .text-label-container {
              margin-top: 24px;
            }
          }
          /* ----- info ----- */
          .info {
            position: relative;
            border: 1px solid lightgray;
            .info-introduction {
              @include box-center;
              top: 8px;
              text-align: center;
              display: none;
              &.appear {
                display: block;
              }
            }
            .comment {
              width: fit-content;
              padding: 4px 8px;
              border-radius: 8px;
              background: $active-color;
              @include box-center;
              bottom: 150px;
              text-align: center;
              font-size: 11px;
              display: none;
              &.appear {
                display: block;
              }
            }
          }
        }
        
        /* ----- radio label ----- */
        .shape-list {
          height: 132px;
          padding: 0 22px;
          border-bottom: $dashedBorder;
          display: flex;
          align-items: center;
          h3 {
            flex: 1;
            font-size: 12px;
            line-height: 80px;
          }
          ul {
            flex: 3;
            display: flex;
            gap: 16px;
            li {
              position: relative;
              label.radio-label {
                width: 96px;
                height: 96px;
                border-radius: 8px;
                cursor: pointer;
                input[type="radio"] {
                  display: none;
                }
              }
              img,
              div {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;
              }
              p {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 8px;
                font-size: 11px;
              }
              div {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}

/* ----- main case ----- */
.gold-color {
  background: linear-gradient(rgb(238,215,71), rgb(255,252,245));
}
.silver-color {
  background: linear-gradient(rgb(211,211,211), rgb(247,247,247));
}
.pink-gold-color {
  background: linear-gradient(rgb(220,170,119), rgb(255,239,230));
}

/* ----- button ----- */
.btn-container {
  width: 1120px;
  margin: 16px auto 0;
  #dl-btn {
    all: unset;
    display: block;
    padding: 8px 16px;
    margin-left: auto;
    border: $border;
    cursor: pointer;
    &:hover {
      background: $active-color;
    }
  }
}

/* ----- action ----- */
label.active {
  border: $border;
  background: $active-color;
}

/* ----- test ----- */
#test-btn {
  position: absolute;
  top: 670px;
  left: 380px;
}

.custom-color {
  background-color: red;
}

#test-color-picker {
  border: none;
  background: none;
  opacity: 0;
  cursor: pointer;
}

#test-color-container {
  width: 32px;
  height: 32px;
  border: $border;
  background: pink;
}

#info-canvas {
  width: 260px;
  height: 204px;
}

// 枠線test ---------------------------------------------------------

.gnavi{
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
  margin:0 0 50px 0;
  list-style: none;
}

.gnavi li a{
  display: block;
  padding:10px 30px;
  text-decoration: none;
  color: #333;
}

.gnavi li{
  /*線の基点とするためrelativeを指定*/
  position: relative;
  margin:0 10px;
}

/*線の基点位置*/
.gnavi li::before,
.gnavi li::after{
  content:"";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  background:#0481A2;
  /*線の形状*/
  width: 0;
  height:1px;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

.gnavi li::before{
content:"before";
right: 0;
bottom: 0;
}

.gnavi li::after{
content: "after";
left: 0;
top: 0;
}

/*線の基点位置2 spanタグ*/

.gnavi li span{
  display: block;
}

.gnavi li span::before,
.gnavi li span::after{
content:"";
  /*絶対配置で線の位置を決める*/
position: absolute;
background: #0481A2;
  /*線の形状*/
width:3px;
height:0;
/*アニメーションの指定*/
transition: all 0.1s linear;
}

.gnavi li span::before{
content: "B";
left: 0;
bottom: 0;
}

.gnavi li span::after{
content: "A";
right: 0;
top: 0;
}

/*現在地とhoverした際の線の変化*/
.gnavi li.current::before,
.gnavi li.current::after,
.gnavi li:hover::before,
.gnavi li:hover::after{
width: 100%;
}

.gnavi li:hover::after{
transition-delay: 0s;/*すぐ線を出現させる*/
}

.gnavi li:hover::before{
transition-delay: 0.3s;/*線の出現を0.3秒遅らせる*/
}

.gnavi li.current span::before,
.gnavi li.current span::after,
.gnavi li:hover span::before,
.gnavi li:hover span::after{
height: 100%;
}

.gnavi li:hover span::before{
transition-delay: 0.5s;/*線の出現を0.5秒遅らせる*/
}

.gnavi li:hover span::after{
transition-delay: 0.2s;/*線の出現を0.2秒遅らせる*/
}

// スクロールバーテスト
.scroll_bar{
  background-color: #f0f0f0;
  overflow-y: scroll;
  width: 250px;
  height: 150px;
}
.scroll_bar::-webkit-scrollbar{
  width: 10px;
}
.scroll_bar::-webkit-scrollbar-track{
  background-color: #ccc;
}
.scroll_bar::-webkit-scrollbar-thumb{
  background-color: #17585d;
}