@charset "UTF-8";
/* ----- style ----- */
/* ----- common ----- */
body {
  margin: 0;
  color: #333;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  all: unset;
}

legend {
  all: unset;
}

/* ----- header ----- */
header {
  width: 1120px;
  height: 96px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
}
header h1 {
  font-family: "Prompt", sans-serif;
  margin-left: 32px;
  font-size: 20px;
  letter-spacing: 0.2rem;
}

/* ----- main common ----- */
main {
  width: 1120px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  position: relative; /* for dl-btn */
}
main #main-canvas {
  border: 1px solid #333;
  border-radius: 16px;
}
main .component-list {
  width: 724px;
  margin-left: 12px;
  position: relative;
}
main .component-list .component {
  position: absolute;
  width: 100%;
  pointer-events: none;
  /* ----- work space ----- */
}
main .component-list .component h2.tab {
  width: 160px;
  height: 48px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-radius: 0 8px 0 0;
  position: relative;
  font-size: 14px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  pointer-events: auto;
  opacity: 0.3;
}
main .component-list .component h2.tab.active {
  opacity: 1;
}
main .component-list .component h2.tab.active::after {
  content: "";
  position: relative;
  top: -1px;
  width: 159px;
  height: 1px;
  display: block;
  background: white;
  z-index: 3;
}
main .component-list .component:nth-child(2) .tab {
  left: 160px;
}
main .component-list .component:nth-child(3) .tab {
  left: 320px;
}
main .component-list .component .workspace {
  width: 724px;
  height: 752px;
  padding: 16px;
  border-top: 1px solid #333;
  font-size: 12px;
  pointer-events: auto;
  display: none;
  /* ----- label ----- */
  /* ----- top part ----- */
  /* ----- shape radio ----- */
}
main .component-list .component .workspace.appear {
  display: block;
}
main .component-list .component .workspace label {
  display: block;
}
main .component-list .component .workspace .workspace-top-container {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px dashed #333;
  /* ----- text label ----- */
  /* ----- option radio ----- */
  /* ----- info ----- */
}
main .component-list .component .workspace .workspace-top-container .text-labels-container {
  padding: 24px 32px;
  border-right: 1px dashed #333;
}
main .component-list .component .workspace .workspace-top-container .text-labels-container .text-label-container {
  display: flex;
}
main .component-list .component .workspace .workspace-top-container .text-labels-container .text-label-container label {
  width: 120px;
}
main .component-list .component .workspace .workspace-top-container .text-labels-container .text-label-container span {
  margin-left: 8px;
}
main .component-list .component .workspace .workspace-top-container .text-labels-container .text-label-container + .text-label-container {
  margin-top: 24px;
}
main .component-list .component .workspace .workspace-top-container .option-container {
  display: flex;
  align-items: center;
  margin-top: 22px;
}
main .component-list .component .workspace .workspace-top-container .option-container h3 {
  width: 120px;
  font-size: 12px;
}
main .component-list .component .workspace .workspace-top-container .option-container label.option-list {
  padding: 8px 12px;
  border-radius: 8px;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
main .component-list .component .workspace .workspace-top-container .option-container label.option-list input[type=radio] {
  display: none;
}
main .component-list .component .workspace .workspace-top-container .option-container label.option-list:hover {
  background: #e2e2e2;
}
main .component-list .component .workspace .workspace-top-container .option-container label.option-list + label.option-list {
  margin-left: 24px;
}
main .component-list .component .workspace .workspace-top-container .option-container + .option-container {
  margin-top: 16px;
}
main .component-list .component .workspace .workspace-top-container .info {
  position: relative;
}
main .component-list .component .workspace .workspace-top-container .info .info-introduction {
  width: fit-content;
  max-width: 240px;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 4px 8px;
  border-radius: 6px;
  background: #e2e2e2;
  font-size: 11px;
}
main .component-list .component .workspace .shape-list {
  height: 132px;
  padding: 0 22px;
  border-bottom: 1px dashed #333;
  display: flex;
  align-items: center;
}
main .component-list .component .workspace .shape-list h3 {
  flex: 1;
  font-size: 12px;
  line-height: 80px;
}
main .component-list .component .workspace .shape-list ul {
  flex: 4;
  display: flex;
  gap: 16px;
}
main .component-list .component .workspace .shape-list ul li {
  position: relative;
}
main .component-list .component .workspace .shape-list ul li label.radio-label {
  width: 96px;
  height: 96px;
  border-radius: 8px;
  cursor: pointer;
}
main .component-list .component .workspace .shape-list ul li label.radio-label input[type=radio] {
  display: none;
}
main .component-list .component .workspace .shape-list ul li:hover label.radio-label {
  background: #e2e2e2;
}
main .component-list .component .workspace .shape-list ul li img,
main .component-list .component .workspace .shape-list ul li div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
main .component-list .component .workspace .shape-list ul li div {
  width: 30px;
  height: 30px;
}
main .component-list .component .workspace .shape-list ul li .color-picker {
  width: 96px;
  height: 96px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
}
main .component-list .component .workspace .shape-list ul li p {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 8px;
  text-align: center;
  font-size: 11px;
  pointer-events: none;
}

/* ----- colors ----- */
.gold-color {
  background: linear-gradient(rgb(238, 215, 71), rgb(255, 252, 245));
}

.silver-color {
  background: linear-gradient(rgb(211, 211, 211), rgb(247, 247, 247));
}

.pink-gold-color {
  background: linear-gradient(rgb(220, 170, 119), rgb(255, 239, 230));
}

.black-color {
  background: black;
}

.brown-color {
  background: brown;
}

.gray-color {
  background: gray;
}

.custom-color {
  background: pink;
}

/* ----- download button ----- */
#dl-btn {
  position: absolute;
  bottom: 16px;
  right: 752px;
  width: 36px;
  height: 52px;
  font-size: 11px;
  z-index: 5;
  cursor: pointer;
}
#dl-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 22px;
  background: #333;
}
#dl-btn::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 6px solid #333;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
#dl-btn:hover::before {
  animation: line 1s infinite;
}
#dl-btn:hover::after {
  animation: arrow 1s infinite;
}
#dl-btn p.svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  padding-top: 4px;
  border-top: 1px solid #333;
  text-align: center;
}
#dl-btn p.svg-comment {
  display: none;
  opacity: 0;
}
#dl-btn:hover p.svg-comment {
  display: block;
  opacity: 1;
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 6px 12px;
  border-radius: 6px;
  background: #e2e2e2;
  animation: comment 0.5s;
}

@keyframes line {
  0% {
    height: 0;
  }
  90% {
    height: 22PX;
  }
}
@keyframes arrow {
  0% {
    top: 0;
  }
  90% {
    top: 18px;
  }
}
@keyframes comment {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ----- action ----- */
label.active {
  border: 1px solid #333;
}

/* ----- test ----- */
#test-btn {
  position: absolute;
  top: 670px;
  left: 380px;
}

.gnavi {
  display: flex;
  flex-wrap: wrap; /*スマホ表示折り返し用なのでPCのみなら不要*/
  margin: 0 0 50px 0;
  list-style: none;
}

.gnavi li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #333;
}

.gnavi li {
  /*線の基点とするためrelativeを指定*/
  position: relative;
  margin: 0 10px;
}

/*線の基点位置*/
.gnavi li::before,
.gnavi li::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  background: #0481A2;
  /*線の形状*/
  width: 0;
  height: 1px;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

.gnavi li::before {
  content: "before";
  right: 0;
  bottom: 0;
}

.gnavi li::after {
  content: "after";
  left: 0;
  top: 0;
}

/*線の基点位置2 spanタグ*/
.gnavi li span {
  display: block;
}

.gnavi li span::before,
.gnavi li span::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  background: #0481A2;
  /*線の形状*/
  width: 3px;
  height: 0;
  /*アニメーションの指定*/
  transition: all 0.1s linear;
}

.gnavi li span::before {
  content: "B";
  left: 0;
  bottom: 0;
}

.gnavi li span::after {
  content: "A";
  right: 0;
  top: 0;
}

/*現在地とhoverした際の線の変化*/
.gnavi li.current::before,
.gnavi li.current::after,
.gnavi li:hover::before,
.gnavi li:hover::after {
  width: 100%;
}

.gnavi li:hover::after {
  transition-delay: 0s; /*すぐ線を出現させる*/
}

.gnavi li:hover::before {
  transition-delay: 0.3s; /*線の出現を0.3秒遅らせる*/
}

.gnavi li.current span::before,
.gnavi li.current span::after,
.gnavi li:hover span::before,
.gnavi li:hover span::after {
  height: 100%;
}

.gnavi li:hover span::before {
  transition-delay: 0.5s; /*線の出現を0.5秒遅らせる*/
}

.gnavi li:hover span::after {
  transition-delay: 0.2s; /*線の出現を0.2秒遅らせる*/
}

.scroll_bar {
  background-color: #f0f0f0;
  overflow-y: scroll;
  width: 250px;
  height: 150px;
}

.scroll_bar::-webkit-scrollbar {
  width: 10px;
}

.scroll_bar::-webkit-scrollbar-track {
  background-color: #ccc;
}

.scroll_bar::-webkit-scrollbar-thumb {
  background-color: #17585d;
}

/*# sourceMappingURL=style.css.map */
